<template lang="html">
	<div>
		<div class="col-md-8 col-md-offset-2" v-show="showAddUser">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span v-if="!isEdit">Add User</span>
                	<span v-else>Update User</span>
                	<button type="button" class="btn btn-sm btn-primary pull-right" style="margin-top:-4px;" v-on:click="showForm">Show Users</button>
                </div>
                <div class="panel-body">
                	<!-- <form v-on:submit.prevent="createUser" method="post"> -->
			            <div v-bind:class="{'form-group': true, 'has-error': errors.firstname}">
			                <input type="text" placeholder="Firstname" v-model="user.firstname" class="form-control">
			                <span class="help-block" v-for="error in errors.firstname">{{ error }}</span>
			            </div>
			            <div v-bind:class="{'form-group': true, 'has-error': errors.lastname}">
			                <input type="text" placeholder="Lastname" v-model="user.lastname" class="form-control">
			                <span class="help-block" v-for="error in errors.lastname">{{ error }}</span>
			            </div>
			            <div v-bind:class="{'form-group': true, 'has-error': errors.email}">
			                <input type="email" placeholder="Email Add" v-model="user.email" class="form-control">
			                <span class="help-block" v-for="error in errors.email">{{ error }}</span>
			            </div>
			            <div v-bind:class="{'form-group': true, 'has-error': errors.username}">
			                <input type="text" placeholder="Username" v-model="user.username" class="form-control">
			                <span class="help-block" v-for="error in errors.username">{{ error }}</span>
			            </div>
			            <div v-bind:class="{'form-group': true, 'has-error': errors.password}">
			                <input type="password" placeholder="Password" v-model="user.password" class="form-control">
			                <span class="help-block" v-for="error in errors.password">{{ error }}</span>
			            </div>
			            <div v-bind:class="{'form-group': true, 'has-error': errors.phone_no}">
			                <input placeholder="Phone No" v-model="user.phone_no" class="form-control">
			                <span class="help-block" v-for="error in errors.phone_no">{{ error }}</span>
			            </div>
			            <div v-bind:class="{'form-group': true, 'has-error': errors.postcode}">
			                <input placeholder="Post Code" v-model="user.postcode" class="form-control">
			                <span class="help-block" v-for="error in errors.postcode">{{ error }}</span>
			            </div>
			            <div v-bind:class="{'form-group': true, 'has-error': errors.address}">
			                <textarea placeholder="Address" v-model="user.address" class="form-control">
			                </textarea>
			                <span class="help-block" v-for="error in errors.address">{{ error }}</span>
			            </div>
			            <div class="form-group" style="width:220px;margin:0 auto;">
			                <button type="button" class="btn btn-default" v-on:click="cancelAdd">Cancel</button>

			                <button type="button" class="btn btn-primary" v-on:click="createUser" v-if="!isEdit">Create New User</button>
			                <button type="button" class="btn btn-primary" v-on:click="updateUser" v-else>Update User</button>
			            </div>
			        <!-- </form> -->
			    
                </div>
            </div>
        </div>
		
		<div class="col-md-12 " v-show="!showAddUser">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Users</span>
                    <button type="button" class="btn btn-sm btn-primary pull-right" style="margin-top:-4px;" v-on:click="showForm">Add User</button>
                    <button type="button" class="btn btn-sm btn-danger pull-right"  v-on:click="multipleDeleteUser" style="margin:-4px 5px 0 0;">Delete</button>
                    
                </div>
                <div class="panel-body" style="height:500px;min-height:500px;overflow:auto;">
					<table class="table table-hover ">
						<thead>
							<tr>
								<th></th>
								<th class="text-center">Firstname</th>
								<th class="text-center">Lastname</th>
								<th class="text-center">Username</th>
								<th class="text-center">Email</th>
								<th class="text-center">Address</th>
								<th class="nowrap text-center">Post Code</th>
								<th class="text-center nowrap">Contact No</th>
								<th class="text-center">Created At</th>
								<th class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="user in users" >
								<td ><input class="userCBox" type="checkbox" v-on:click="selectUser(user)"></td>
								<td class="text-center">{{ user.firstname }}</td>
								<td class="text-center">{{ user.lastname }}</td>
								<td class="text-center">{{ user.username }}</td>
								<td class="text-center">{{ user.email }}</td>
								<td class="text-center">{{ user.address }}</td>
								<td class="text-center">{{ user.postcode }}</td>
								<td class="text-center">{{ user.phone_no }}</td>
								<td class="nowrap text-center">{{ user.created_at }}</td>
								<td>
									<div class="form-group">
										<button type="button" v-on:click="deleteUser(user)" class="btn btn-sm btn-danger">Delete</button>
										<button type="button" v-on:click="editUser(user)" class="btn btn-sm btn-warning">Edit</button>
									</div>
								</td>
								
							</tr>
						</tbody>
					</table>
					</div>
            </div>
        </div>
	</div>

</template>

<script>

export default {
    data(){
        return {
        	isEdit:false,
        	enableDelete:false,
        	showAddUser:false,
        	currentIndex:0,
        	selectedId:[],
            users: [],
            errors: [],
            user:{
            	firstname:'',
            	lastname:'',
                username: '',
                email: '',
                password:'',
                phone_no:'',
                postcode:'',
                address:''
            }
        }
    },

    created(){
        this.fetchUsers();
    },

    methods: {
        fetchUsers(){
            axios.get('/api/users').then(response => {
                this.users = response.data.users;
            });
        },

        createUser(){  
       	  var that=this;
          $.ajax({
          	headers: {
            'X-CSRF-TOKEN':window.Laravel.csrfToken
            },
          	url:"/api/create/",
          	type:"POST",
          	data:this.user,
          	dataType:'json',
          	async:false,
          	success:function(res){
          		var err = [];
          		if(!res.success){
          		 	$.each(res.errors, function(key, value){
          		 		err[key] = new Array(value[0]); 	
          		 });
          		 	that.errors = err;
          
          		}else{
          			that.users.push(res.user);
	              that.user = {
		            	firstname:'',
		            	lastname:'',
		                username: '',
		                email: '',
		                password:'',
		                phone_no:'',
		                postcode:'',
		                address:''
		            };

	                if (that.errors) {
	                    that.errors = [];
	                }			
          		}
          	}
          });
           
        },
        updateUser(){ 
       	  var that=this;
          $.ajax({
          	headers: {
            'X-CSRF-TOKEN':window.Laravel.csrfToken
            },
          	url:"/api/update/",
          	type:"POST",
          	data:this.user,
          	dataType:'json',
          	async:false,
          	success:function(res){
          		var err = [];
          		if(!res.success){
          		 	$.each(res.errors, function(key, value){
          		 		err[key] = new Array(value[0]); 	
          		 	});
          		 	that.errors = err;
          
          		}else{
          			that.users[that.currentIndex] = res.user; 
	                that.showForm();
	                that.cancelAdd();			
          		}
          	}
          });
           
        },
        selectUser(user){
        	if(this.selectedId.indexOf(user) === -1){
        		this.selectedId.push(user);
        	}
        	else{
        		this.selectedId.splice(this.selectedId.indexOf(user) , 1);	
        	}
        },
        multipleDeleteUser(){
        	var that = this;
          if(this.selectedId.length > 0){
            $.each(this.selectedId, function(key, value) {
			         var index = that.users.indexOf(value);
			         that.deleteAPI(value.id,key);  
		   	    });
          } 
		   	
        },
        editUser(user){
        	this.currentIndex = this.users.indexOf(user);
    		  this.showAddUser = true;
    		  this.isEdit = true;
      		this.user = {
      			id:user.id,
          	firstname:user.firstname,
          	lastname:user.lastname,
            username:user.username,
            email: user.email,
            password:user.password,
            phone_no:user.phone_no,
            postcode:user.postcode,
            address:user.address
          };
        },
        deleteAPI(uid,index){
        	var that=this;
        	this.users.splice(index, 1);
        	$.ajax({
	          	headers: {
	            	'X-CSRF-TOKEN':window.Laravel.csrfToken
	            },
	          	url:'/api/delete/',
	          	type:"POST",
	          	data:{id:uid},
	          	dataType:'json',
	          	async:false,
	          	success:function(res){
          			
          		}
        	});		
        },
        deleteUser(user){
        	let index = this.users.indexOf(user);
          this.deleteAPI(user.id,index);
        },
        cancelAdd(){
        	this.showAddUser = false;
        	this.isEdit = false;
        	this.currentIndex = 0;
        	this.user = {
            	firstname:'',
            	lastname:'',
              username: '',
              email: '',
              password:'',
              phone_no:'',
              postcode:'',
              address:''
          };

          if (this.errors) {
              this.errors = [];
          }	
        },
	      showForm(){
  	    	if(this.showAddUser){
  	    		this.showAddUser = false;
  	    	}
  	    	else{
  	    		this.showAddUser = true	
  	    	}	 
	       }
    }
}

</script>

<style scoped>

.nowrap{
	white-space: nowrap;
}

.text-center{
	text-align: center;
}
</style>